.contact {
  background-color: #ffffff;

  padding: 60px 0;

  &__title {
    font-size: 20px;
    font-weight: 500;
    font-family: Oswald;
    color: #000;
    text-align: center;
    margin-top: 3% ;
    
  }

  &__outimage {
    width: 1280px;
    height: 436px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  &__image {
    border: 2px solid #050505;
    border-radius: 5px;
    box-shadow: 4px 7px 7px 0px #050505;
    cursor: pointer;
    margin: 20px;
    transition: 400ms;
  }

  &__image:hover {
    filter: whitescale(1);
    transform: scale(1.15,1.15);
    
  }
}
