
@import './src/styles/styles.mixins.scss';

.contact {
  background-color: #ffffff;
  padding: 60px 0;

  &__title {
    font-size: 16px;
    line-height: 23.71px;
    font-weight: 400;
    color: #000000;
    margin: 20px 0 0 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      margin: 10px 0 0 0;
      font-size: 12px;
    }

    @include tablet {
      margin: 10px 0 0 0;
      font-size: 14px;
    }
  }

  &__outimage {
    width: 1280px;
    height: 400px;
    
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
    @include mobile {
      padding: 0px 0px;
      height: max-content;
    }

    @include tablet {
      padding: 0px 0px;
      height: max-content;
    }
  }

  &__image {
    border: 2px solid;
    margin: 15px;
    max-width: 100%;
    
    object-fit: cover;

    @include mobile {
      width: 12%;
      height: 20%;
      margin: 10px;

    }

    @include tablet {
      width: 20%;
      height: 60%;
      margin: 13px;

    }
  } 

  &__intro1 {
   font-size: 32px;
   line-height: 32px;
   color: #9418B2; 
   padding-left: 15px;
   font-weight: 400;

   @include mobile {
    margin: 0%;
    font-size: 24px;
    line-height: 24px;

  }

    @include tablet {
      margin: 0%;
      font-size: 28px;
      line-height: 30px;

    } 

  }

  &__intro2 {
    font-size: 20px ;
    line-height: 32px;
    font-weight: 400;
    color: #000000; 
    padding-left: 15px;

    @include mobile {
      margin: 0%;
      font-size: 12px;
      line-height: 30px;
    }
  
      @include tablet {
        margin: 0%;
        font-size: 18px;
        line-height: 32px;

      } 
  
   }

   &__intro {
    height: 56px;
    text-align: justify;
    justify-content: center;
    display: flexbox;
    border-left: 5px solid #9418B2;

    margin: 0 0 20px 0;

    @include mobile {
      margin: 0 0 10px 0;
      height: 44px;
    }
  
    @include tablet {
        height: 52px;
        margin: 0 0 20px 0;
    } 
  
   }

}
