.menu-btn {
	width: 40px;
	height: 40px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all .2s ease-in-out;
	// border: 2px solid #9418b2;


	&.open {

		.menu-btn__burger {
			transform: translateX(-25px);
			background: transparent;

			&::before {
				transform: rotate(45deg) translate(7px, -7px);
				background: #6424b2;
			}

			&::after {
				transform: rotate(-45deg) translate(7px, 7px);
				background: #6424b2;
			}
		}
	}
}

.menu-btn__burger {
	width: 30px;
	height: 3px;
	background: #9418b2;
	border-radius: 5px;
	transition: all .2s ease-in-out;
	pointer-events: none;

	&::before {
		transform: translate(-15px, -10px);
	}

	&::after {
		transform: translate(-15px, 10px);
	}
}

.menu-btn__burger::before,
.menu-btn__burger::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: #9418b2;
	border-radius: 5px;
	transition: all .2s ease-in-out;
}