.hero {
  margin-top: 90px;
  width: 100%;
  height: 950.27px;
  top: -3343.85px;
  left: 882px;
  overflow: hidden;
  background-image: url(../../../../public/hero_section/br.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .cup {
    width: 586px;
    height: 640.54px;
    top: -3163px;
    left: 1340px;
    gap: 0px;
    opacity: 0px;
  }
  .title {
    width: 100%;
    background-color: #fff;
  }

  .founder {
  }
}

/*Mobile*/
@media (max-width: 450px) {
}
