@import './src/styles/styles.mixins.scss';


.contact {
  background-color: #ffffff;

  padding: 60px 0;

  @include mobile {
    padding: 40px 0;

  }

  @include tablet {
    padding: 40px 0;

  }

  &__title1 {

    padding-left: 15px;

    font-weight: 400;
    color: #9418B2;
    font-size: 32px;
    line-height: 32px;
  }

  &__title2 {

    padding-left: 15px;

    font-size: 20px;
    color: #000000;
    line-height: 32px;
    font-weight: 400;
  }

  &__title {

    display: block;
    height: 56px;
    gap: 4px;
    border-left: 4px solid #9418B2;

    margin: 0 0 20px 0;
  }

  img {
    max-width: 100%;
    max-height: 500px;

    margin-top: 32px;
  }

  &__content1 {

    max-width: 100%;
    width: 740px;
    height: 48px;

    margin: 0 auto;
    margin-bottom: 24px;

    padding-top: 10px;

    font-size: 16px;
    font-weight: 400;
    line-height: 23.71px;
    text-align: center;

  }

  &__content2 {

    max-width: 100%;
    width: 800px;
    height: 24px;

    margin: 0 auto;
    margin-bottom: 24px;

    padding-top: 10px;

    font-size: 16px;
    font-weight: 400;
    line-height: 23.71px;
    text-align: center;

  }
}