.contact {
  background-color: #ffff;
  
  padding: 60px 0;
  text-align: center;
  &__title {
    
    display: block;
    height: 60px;
    gap: 4px;
    border-left: 4px solid #9418B2;
    
    margin: 0 0 20px 0;
  }
  &__title1 {
    width: 254px;
    height: 32px;
    color: #9418B2;  
    
    margin-bottom: 20px;
    margin-left: 15px;
    
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

  }
  &__title2{
   
    
    margin-left: 15px;

    font-size: 20px;
    font-weight: 400;
    color:#000000;
    line-height: 0px;
    text-align: left;

  }
}
  .image {
    width: 641px;
    height: 641px;
    
    position: relative;
    top: 0px;
    left: 250px;
    display: inline-block;
    z-index: 3;
}
  .image1 {
    width: 421px;
    height: 421px;

    position: relative;
    bottom: 100px;
    right: 450px;
    z-index: 2;
}
  .image2 {
    width: 311px;
    height: 311px;
    bottom: 400px;
    position: relative;
    left: 208px;
    z-index: 1;
}
