.timeline {
  background-color: #c2c2c2;

  padding: 40px 0;

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #d71616;

    margin-bottom: 50px;
  }

  &__image {
    width: 80%;
    height: 200px;

    background-color: rgb(255, 121, 121);
  }
}
